body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


/* Header & Footer */


header {
  /* for some reason, the header was offset without top/left set to 0px. Any reason? */
  top: 0px;
  left: 0px;
  right: 0px;
  /* The standard fare */
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  padding-left: 10px;
}

.logo img {
  display: flex;
  flex-grow: 1;
  height: 50px;
}

header nav {
  margin-right: 20px;
}

header span {
  padding: 10px;
}

footer {

}


/* Styles */


a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0px 0px;
}


/* Containers and stuff */

.content {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 62px;
}

#mission {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url('../images/img-mission-background.jpg');
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

#mission .overlay {
  padding: 10px;
  width: 100%;
  background-color: black;
}

#mission .overlay h2 {
  /* Somewhat unnecessary but I tried to match the example provided as closely as possible */
  padding-bottom: 15px;
}

#teas {
  padding: 75px 0px;
  width: 1000px;
}

#teas h2,
#teas h4 {
  padding-bottom: 25px;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featureditem {
  padding: 5px;
}

.featureditem img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.featureditem h4 {
  padding-bottom: 5px;
}

#locations {
  display: flex;
  height: 500px;
  width: 1200px;
  flex-shrink: 1;
  background-image: url('../images/img-locations-background.jpg');
  background-repeat: no-repeat;
}
